
body {
    background: url("../images/fondo.jpg");


}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background: url("../images/fondo.jpg");
    background-repeat:repeat-y;
}
#guardar, #aceptar,#registrar, #iniciar,#guardar2 {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #e60909;
    padding: 10px;
    margin-left: 35px;
    margin-top: 25px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border: 0px;
}
a{text-decoration:none} 
#pie{
    position: absolute;
    margin-top: 450px;}

#nombre_usuario, #clave { 

    background: rgba(119, 80, 54, 0.77);
    border: none;
    outline: none;
    padding: 13px;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;

}
*::-webkit-input-placeholder { /* Google Chrome y Safari */    color:  #cbc4c3 ;}
*:-moz-placeholder {/* Firefox anterior a 19 */  color:  #cbc4c3 ;}
*::-moz-placeholder {/* Firefox 19 y superior */ color:  #cbc4c3 ;}
*:-ms-input-placeholder {/* Internet Explorer 10 y superior */  color:  #cbc4c3 ;}


#nombre_usuario2, #clave2, #correo_restaurante, #telefono, #ruc, #nombre_restaurante, #nombre_plato, #descrip_plato, #precio, #stock { 

    background: rgba(119, 80, 54, 0.77);
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;

}
.ui-header, .ui-footer {
    border-width: 0px 0;
    border-style: hidden;
    position: relative;
}

#titulo{
    color: black;
    margin-left: 60px;
    margin-right: 30px;
    display: inline-flex;
    margin-bottom: 15px;
    position: absolute;
    top: 17px;
    left: 55px;  
    color: #df2727;
}

.menu{
    background-color: white;
}
.ui-page .ui-header {
    background: #000000 !important;
}

#texto1{
    size:28px;
    color: white;
    font-family: cursive;
    margin-left: 50px;
}
.ui-bar-inherit{
    background-color: red;
}
#platillo, #perfil, #salir{
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #e60909;
    margin-left: 35px;
    margin-top: 25px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border: 0px;
    width: 310px;
}
#guardare {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #e60909;
    padding: 10px;
    margin-left: 35px;
    margin-top: 25px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border: 0px;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {width: 0px;}